<div class="profile-page">
  <header class="profile-page__topbar">
    {{> Link backLink }}
  </header>

  <div class="profile-page__content">
    <section class="profile-card">
      <div class="profile-card__header">
        <div class="profile-card__avatar" aria-hidden="true"></div>
        <div class="profile-card__identity">
          <h2 class="profile-card__name">{{name}}</h2>
          <span class="profile-card__username">{{username}}</span>
          <div class="profile-card__actions">
            {{> Button editProfileButton }}
            {{> Button logoutButton }}
          </div>
        </div>
      </div>
    </section>

    <section class="profile-info">
      <h3 class="profile-info__title">Profile Information</h3>
      <div class="profile-info__grid">
        <div class="profile-info__row">
          <span class="profile-info__label">Login</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-user profile-info__icon" aria-hidden="true"></i>
            <span>{{login}}</span>
          </span>
        </div>
        <div class="profile-info__row">
          <span class="profile-info__label">Display name</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-user profile-info__icon" aria-hidden="true"></i>
            <span>{{displayName}}</span>
          </span>
        </div>
        <div class="profile-info__row">
          <span class="profile-info__label">Email</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-envelope profile-info__icon" aria-hidden="true"></i>
            <span>{{email}}</span>
          </span>
        </div>
        <div class="profile-info__row">
          <span class="profile-info__label">Name</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-user profile-info__icon" aria-hidden="true"></i>
            <span>{{firstName}}</span>
          </span>
        </div>
        <div class="profile-info__row">
          <span class="profile-info__label">Surname</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-user profile-info__icon" aria-hidden="true"></i>
            <span>{{surname}}</span>
          </span>
        </div>
        <div class="profile-info__row">
          <span class="profile-info__label">Phone</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-phone profile-info__icon" aria-hidden="true"></i>
            <span>{{phone}}</span>
          </span>
        </div>
      </div>
    </section>
  </div>
</div>
