<div class="confirm-dialog-backdrop" role="presentation">
  <div
    class="confirm-dialog"
    role="alertdialog"
    aria-modal="true"
    aria-labelledby="{{titleId}}"
  >
    <h2 id="{{titleId}}" class="confirm-dialog__title">{{title}}</h2>
    <p class="confirm-dialog__message">{{message}}</p>
    <div class="confirm-dialog__footer">
      <button type="button" class="confirm-dialog__btn" ref="cancelBtn">{{cancelLabel}}</button>
      <button
        type="button"
        class="confirm-dialog__btn{{#if isDanger}} confirm-dialog__btn--danger{{/if}}"
        ref="confirmBtn"
      >
        {{confirmLabel}}
      </button>
    </div>
  </div>
</div>
