<div class="chat-page__timeline-slot">
  {{#if isDate}}
    <div class="chat-page__date-pill-wrap">
      <span class="chat-page__date-pill">{{dateLabel}}</span>
    </div>
  {{else}}
    {{#if isIncoming}}
      <article class="chat-page__msg chat-page__msg--in">
        <div class="chat-page__msg-in-body">
          <div class="chat-page__msg-meta">
            <span class="chat-page__msg-author">{{author}}</span>
            <span class="chat-page__msg-time">{{time}}</span>
          </div>
          <p class="chat-page__msg-text">{{text}}</p>
          {{#if reaction}}
            <div class="chat-page__reaction" aria-label="Реакция">
              <span>{{reaction}}</span>
              {{#if reactionCount}}
                <span class="chat-page__reaction-count">{{reactionCount}}</span>
              {{/if}}
            </div>
          {{/if}}
          {{#if showReadReceipt}}
            <div class="chat-page__read chat-page__read--in" aria-hidden="true">
              <i class="fa-solid fa-check-double"></i>
            </div>
          {{/if}}
        </div>
      </article>
    {{else}}
      <article class="chat-page__msg chat-page__msg--out">
        <div class="chat-page__msg-out-wrap">
          <div class="chat-page__bubble">
            {{#if imageCaption}}
              <p class="chat-page__bubble-caption">{{imageCaption}}</p>
            {{/if}}
            {{#if hasImage}}
              <div class="chat-page__bubble-img" role="img" aria-label="Вложение"></div>
            {{/if}}
            {{#if text}}
              <p class="chat-page__msg-text">{{text}}</p>
            {{/if}}
          </div>
          <div class="chat-page__msg-out-meta">
            <span class="chat-page__msg-time">{{time}}</span>
            <span class="chat-page__read" aria-hidden="true">
              <i class="fa-solid fa-check-double"></i>
            </span>
          </div>
        </div>
      </article>
    {{/if}}
  {{/if}}
</div>
