<div class="profile-page">
  <div class="profile-page__content">
    <section class="profile-card">
      <div class="profile-card__back" data-profile-back>
        {{{Link text=backLink.text href=backLink.href className=backLink.className}}}
      </div>
      <div class="profile-card__header">
        <div class="profile-card__avatar-wrap">
          {{#if avatarUrl}}
            <img class="profile-card__avatar profile-card__avatar--image" src="{{avatarUrl}}" alt="" width="80" height="80" />
          {{else}}
            <div class="profile-card__avatar" aria-hidden="true"></div>
          {{/if}}
          <input
            id="profilePageAvatarFile"
            class="profile-card__avatar-file"
            type="file"
            accept="image/jpeg,image/png,image/gif,image/webp"
            hidden
            tabindex="-1"
          />
          <div class="profile-card__avatar-actions">
            <div class="profile-card__avatar-fab-shell">
              <button
                type="button"
                class="profile-card__avatar-fab"
                aria-label="Avatar options"
                aria-expanded="false"
                aria-controls="profileAvatarMenu"
                aria-haspopup="true"
              >
                <i class="fa-solid fa-pen" aria-hidden="true"></i>
              </button>
              <div id="profileAvatarMenu" class="profile-card__avatar-menu" role="menu" hidden>
                <button type="button" class="profile-card__avatar-menu-item" role="menuitem" data-action="change-avatar">
                  Change photo
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-card__identity">
          <h2 class="profile-card__name">{{name}}</h2>
          <span class="profile-card__username">{{username}}</span>
          <div class="profile-card__actions">
            {{{Button type=editProfileButton.type text=editProfileButton.text className=editProfileButton.className}}}
            {{{Button type=logoutButton.type text=logoutButton.text className=logoutButton.className}}}
          </div>
        </div>
      </div>
    </section>

    <section class="profile-info">
      <h3 class="profile-info__title">Profile Information</h3>
      <div class="profile-info__grid">
        <div class="profile-info__row">
          <span class="profile-info__label">Login</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-user profile-info__icon" aria-hidden="true"></i>
            <span>{{login}}</span>
          </span>
        </div>
        <div class="profile-info__row">
          <span class="profile-info__label">Display name</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-user profile-info__icon" aria-hidden="true"></i>
            <span>{{displayName}}</span>
          </span>
        </div>
        <div class="profile-info__row">
          <span class="profile-info__label">Email</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-envelope profile-info__icon" aria-hidden="true"></i>
            <span>{{email}}</span>
          </span>
        </div>
        <div class="profile-info__row">
          <span class="profile-info__label">Name</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-user profile-info__icon" aria-hidden="true"></i>
            <span>{{firstName}}</span>
          </span>
        </div>
        <div class="profile-info__row">
          <span class="profile-info__label">Surname</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-user profile-info__icon" aria-hidden="true"></i>
            <span>{{surname}}</span>
          </span>
        </div>
        <div class="profile-info__row">
          <span class="profile-info__label">Phone</span>
          <span class="profile-info__value">
            <i class="fa-solid fa-phone profile-info__icon" aria-hidden="true"></i>
            <span>{{phone}}</span>
          </span>
        </div>
      </div>
    </section>
  </div>
</div>
